img {
    width: 15%;
    height: 250px;
    margin-right: 5px;
}

iframe {
    border: none;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    iframe {
        opacity: 0.9;
        position: sticky;
        top: 0;
    }

    img {
        width: 100%;
        height: 350px;
    }
}